#top_bg{
	z-index: -1;
	background-image: url(../img/bg_community2.jpg);
	background-size: cover;
}
.bg_filter{
	background-color: rgba(22,20,42.5,0.6);
}
#top_content_area{
	padding-top: 96px !important;
	padding-bottom: 192px;
}
#top_left{
	width:calc(50% - 32px);
}
#top_right{
	width:calc(50% - 16px);
}
/*서치박스*/
.search_box{
	border-radius: 4px;
	background-color: #ffffff;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,.22), 0 0 8px 0 rgba(0,0,0,.22);
}
#popular_list{
	width: calc(100% - 16px);
	padding: 8px;
	margin: 32px 0 16px 0;
}
#popular_list>p{
	margin: 8px 12px 8px 4px;
}
/*리워드 프로그램 카드색*/
#reward{
	background-color: rgba(136, 125, 255, 0.85);
	box-shadow: 0 4px 16px 0 rgba(0,0,0,.22), 0 0 8px 0 rgba(0,0,0,.22);
}
#cashback{
	background-color: #7c4dff;
}
#invitation{
	background-color: #4da3fa;
}

/**섹션2**/
img#usp{
	width: 144px;
	height: 144px;
}
/*슬라이더*/
.slider{
	width: calc(1080px);
	margin:0 calc(50% - 540px - 16px);
	padding:16px;
	border-radius: 8px;
	background-color: #ffffff;
}
#slide_arrow_left{
	position: absolute;
	left:calc(50% - 540px - 24px);
	margin-left: -12px;
	margin-top: calc(104px - 24px);
	/*top: calc(50%);*/
}
#slide_arrow_right{
	position: absolute;
	right:calc(50% - 540px - 24px);
	margin-right: -12px;
	margin-top: calc(104px - 24px);
	/*top: calc(50%);*/
}
/**섹션3**/
#calculator_bg{
	z-index: -1;
	background-image: url(../img/travel_budget.jpg);
	background-size: cover;
}
#calculator{
	width: calc(100% - 192px);
	margin-left: 96px;
	margin-right: 96px;
	border-radius: 8px;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,.22), 0 0 8px 0 rgba(0,0,0,.22);
	overflow: hidden;
}
.calculate_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(50% - 48px);
}

input[type=text].calculator_value{
	width: 90%;
	margin-left:5%;
	background-color: rgba(0,0,0,0);
	border-color: #4b4b4b;
	border-width: 0 0 1px 0;
	font-family: roboto_bold;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	line-height: 24px;
}

/*섹션4*/
#city_buttons{
	width: 100%;
	display: flex;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;
	justify-content: space-around;
}