.flex_c_center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
p.center{
	text-align: center !important;
	margin:8px 0px !important;
}
.centerd_align{
	justify-content: center;
	align-items: center;
	text-align: center;
}