.flex_c_center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.flex_centered{
	justify-content: center;
	align-items: center;
	text-align: center;
}
.flex_item_center{
	display: flex;
	align-items: center;
}
.flex_item_end{
	display: flex;
	justify-content: flex-end;
}

/*포지션 정렬*/
.center{
	margin-left: auto !important;
	margin-right: auto !important;
}
