.highlight{
	color: #383838 !important;
}
.medium_empasize{
	color: #484848 !important;
}
.white{
	color: #ffffff;
}
.primary{
	color:#887dff;
}

.primary_bg{
	color: #ffffff;
	background-color:#887dff;
}