.slide_menu{
	display: flex;
	flex-direction: column;
	width: 196px;
}
.slide_item{
	display: flex;
	flex-direction: row;
	width: calc(100% - 16px);
	height: calc(64px - 16px);
	margin:8px;
	border-radius: 4px;
	align-items: center;
}
#selected_slide_item{
	color: #ffffff;
	background-color: #887dff;
	background-color: #7c4dff;
	
}
.slide_item>img{
	width: 24px;
	height: 24px;
	margin: 0 16px;
}
.slide_text{
	font-family: 'Noto Sans CJK KR';
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 32px;
}

.content_col{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: calc(100% - 196px);
}
.content_col_narrow{
	width: 480px;
	margin:0 auto;
}
.section_top{
 	justify-content: space-between;
 	align-items: center;
}
.section_top > h2{
	width: auto;
	margin: 0px !important;
}

/*마이페이지*/
/*프로필 정보 텍스트 필드*/
.info_field{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}
.label{
	font-weight: 400 !important;
	width: 100%;
	margin: 8px 0;
	color: #484848 !important;
}
.info_field > input{
	width: calc(100% - 16px) !important;
}
.content_col>h2{
	color: #262626;
	margin:32px 0 16px 0;
}

