#story1{
	background-image: url(../img/influencer/story1/thumbnail.jpg);
	background-position: center;
	background-size: cover;
}
#story2{
	background-image: url(../img/hunting_cap.jpeg);
	background-position: center;
	background-size: cover;
}
#story3{
	background-image: url(../img/forest.jpg);
	background-position: center;
	background-size: cover;
}
#story4{
	background-image: url(../img/blue.jpg);
	background-position: center;
	background-size: cover;
}




