#title{
	background-image: url(../img/influencer/story1/thumbnail.jpg);
}
#chapter1{
	background-image: url(../img/influencer/story1/c1.jpg);
}
#chapter2{
	background-image: url(../img/influencer/story1/c2.jpg);
}
#chapter3{
	background-image: url(../img/influencer/story1/c3.jpg);
}
#chapter4{
	background-image: url(../img/influencer/story1/c4.jpg);
}
#story_end_back{
	background-image: url(../img/influencer/story1/thumbnail.jpg);
	background-position: center;
	background-size: cover;
}