#title{
	background-image: url(../img/influencer/story3/thumbnail.png);
} 
#chapter1{
	background-image: url(../img/influencer/story3/c1.png);
}
#chapter2{
	background-image: url(../img/influencer/story3/c2.png);
}
#chapter3{
	background-image: url(../img/influencer/story3/c3.png);
}
#chapter4{
	background-image: url(../img/influencer/story3/c4.png);
}
#chapter5{
	background-image: url(../img/influencer/story3/c5.png);
}
#chapter6{
	background-image: url(../img/influencer/story3/c6.png);
}
#chapter7{
	background-image: url(../img/influencer/story3/c7.png);
}
#story_end_back{
	background-image: url(../img/influencer/story3/thumbnail.png);
	background-position: center;
	background-size: cover;
}