/*FONT*/
@font-face {
    font-family: NotoSansCJKkr-Bold;
    src: url(NotoSansCJKkr-Bold.otf);
}
@font-face {
    font-family: NotoSansCJKkr-Regular;
    src: url(NotoSansCJKkr-Regular.otf);
}
@font-face {
    font-family: NotoSansCJKkr-Thin;
    src: url(NotoSansCJKkr-Thin.otf);
}
@font-face {
    font-family: RobotoCondensed-Bold;
    src: url(RobotoCondensed-Bold.ttf);
}

/*BODY SIZE*/
html,body {
   max-width: 360px;
   max-height: 640px;
   height: 100%;
   width: 100%;
   margin:0;
   padding:0;
}


/*Division*/
/*섹션 구분을 위한 헤드라인*/
h2.section{
	width: 100%;
	margin: 15% 0 2% 0;
	padding-left: 2%;
	font-family: NotoSansCJKkr-Regular;
	font-size: 0.8em;
	color: #222222;
}
.no_padding{
	padding:0% !important;
}
/*매거진 상에서 큰 아이템*/
.wide_item{
	display: flex;
	width: 96%;
	height: 46%;
	padding:2%;
	-webkit-flex-direction: column;
    flex-direction: column;
	justify-content: flex-end;
	background-color: #dddddd;
}
/*마진, 패딩이 없는  큰 아이템*/
.wide_item_full{
	display: flex;
	width: 100%;
	height: 50%;
	padding:0%;
	-webkit-flex-direction: column;
    flex-direction: column;
	justify-content: flex-end;
	background-color: #dddddd;
}
/*아이템 컨테이너*/
.container{
	display: flex;
}
#one_by{
	width: 100%;
	height: 50%;
	-webkit-flex-direction: column;
    flex-direction: column;
}
#two_by{
	width: 100%;
	height: 50%;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
    flex-direction: row;
}
#row{
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


/*Full page*/
.fullpage_slide{
	z-index: 9999;
	position: fixed;
	top:0;
	left:360px;
	transition: top 0.5s, left 0.5s;
	width: 312px;
	height: 100%;
	padding:0 24px;
 	display: flex;
 	flex-direction: column;
 	align-self: center;
 	justify-content: flex-start;
 	background-color: #ffffff;
}
.fullpage_on{
	top: 0px !important;
	left: 0px !important;
	transition: top 0.5s, left 0.5s;
}
.xbox{
	display: flex; 
	position:absolute;
	top: 12px;
	left:10px;
	flex-direction: row;
	align-self: center;
	justify-content: flex-start;
}
.item{
	display: flex;
	width: 46%;
	height:46%;
	padding:2%;
	-webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #eeeeee;
}
a.box_link{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}
.align_top{
	justify-content: flex-start !important;
}
h2.item_title{
	display: table;
	font-family: NotoSansCJKkr-Thin;
	font-size: 0.65em;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin: 1em 0 0.83em 0;
	/*background-color:rgba(8,8,8,0.75);*/
	text-shadow: 2px 2px 2px #222222;
	padding:1.5%;
}
.big_title{
	font-size: 1em !important;
	padding: 3% !important;
}
.profile_top{
	margin-top: 0%;
	height:15%;
	width: 88%;
	padding: 0 6%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.profile_row{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	font-family: NotoSansCJKkr-Regular;
	font-size: 0.7em;
	color: #ffffff;
}

.profile_col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: NotoSansCJKkr-Regular;
	font-size: 0.7em;
	color: #ffffff;
}
.profile_row>img .profile_row>img{
	margin-right: 1%;
}

/*Element*/
.button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: NotoSansCJKkr-Thin;
	font-size: 0.35em;
	color: #ffffff;
}
.big_button{
	display: flex;
	margin:2%;
	padding: 2%;
	font-family: NotoSansCJKkr-Regular;
	font-size: 1em;
	border-radius: 10px;
}
.small_button{
	display: flex;
	margin:2%;
	padding: 2%;
	font-family: NotoSansCJKkr-Regular;
	font-size: 0.7em;
	border-radius: 5px;
}
#pos{
	border: 2px solid #33383E;
	color: #33383E;
}
#neg{
	background-color: #33383E;
	color:#ffffff;
}

/*Page title*/
.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 -24px;	
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #aaaaaa;
}
.header>h2{
	margin:2.5% 0;
	font-family: NotoSansCJKkr-Regular;
	font-size: 1em;
	color: #222222;
}
.header_back{
	display: flex;
	position: absolute;
	top:2%;
	left:2%;
}

/*text*/
.exp{
	font-family: NotoSansCJKkr-Thin;
	color: #cccccc;
	font-size: 0.85em;
	text-align: center;
}



