.log_in{
	display: flex;
	flex-direction: column;
	width:70%;
	margin: 10%;
	padding: 5% 5%;
	justify-content: center;
	align-self: center;
	opacity:0;
	transition: opacity 0.5s;
}
.show{
	opacity: 1 !important;
	transition: opacity 0.5s;
}