/*Slide Animation*/

@keyframes slide1_fadein{
	0% {opacity: 1;}
	30% {opacity: 1;}
	33.3% {opacity: 0;}
	63.3% {opacity: 0;}
	66.6% {opacity: 0;}
	96.6% {opacity: 0;}
	100% {opacity: 1;}
} 
@keyframes slide2_fadein{
	0% {opacity: 0;}
	30% {opacity: 0;}
	33.3% {opacity: 1;}
	63.3% {opacity: 1;}
	66.6% {opacity: 0;}
	96.6% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes slide3_fadein{
	0% {opacity: 0;}
	30% {opacity: 0;}
	33.3% {opacity: 0;}
	63.3% {opacity: 0;}
	66.6% {opacity: 1;}
	96.6% {opacity: 1;}
	100% {opacity: 0;}
}


/*Dot progress*/
@keyframes dot1_fadein{
	0% {opacity: 1;}
	30% {opacity: 1;}
	33.3% {opacity: 0.5;}
	63.3% {opacity: 0.5;}
	66.6% {opacity: 0.5;}
	96.6% {opacity: 0.5;}
	100% {opacity: 1;}
} 
@keyframes dot2_fadein{
	0% {opacity: 0.5;}
	30% {opacity: 0.5;}
	33.3% {opacity: 1;}
	63.3% {opacity: 1;}
	66.6% {opacity: 0.5;}
	96.6% {opacity: 0.5;}
	100% {opacity: 0.5;}
}
@keyframes dot3_fadein{
	0% {opacity: 0.5;}
	30% {opacity: 0.5;}
	33.3% {opacity: 0.5;}
	63.3% {opacity: 0.5;}
	66.6% {opacity: 1;}
	96.6% {opacity: 1;}
	100% {opacity: 0.5;}
}