html, body{
	width: 100%;
	height: 100%;
}
#date>h2{
	width: auto;
}
#map{background-color: #383838;
	position: fixed !important;
	width: 100%;
	height: 100%;
}
.header_map{
	position: fixed;
	z-index: 9999;
	text-align: center;
	padding:8px 0;
	width: 100%;
	color:#7c4dff;
	font-family: 'Josefin Sans', sans-serif;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 6px 0px rgba(64,64,64,0.4);
}
.plan_slider{
	position:absolute;
	top:50%;
	left:0;
	width: 100%;
	height: 100%;
	color: #383838;
	background-color: #ffffff;
	z-index: 1;
	box-shadow: 0px 0px 12px 0px rgba(64,64,64,0.2);
	transition: left 0.2s;
	transition-timing-function: ease-out;
}
.slide{
	position: absolute;
	top:0;
	left:-384px;
	width:100%;
	height:100%;
	background-color: #ffffff;
	transition: left 0.05s;
	transition-timing-function: ease-out;
}
#date_list>h2{
	width: auto;
}
.day_list{
	overflow: hidden;
	height: 56px;
	transition: height 0.05s;
	transition-timing-function: ease-out;
}
.day_list_extend{
	height: auto !important;
	transition: height 0.05s;
	transition-timing-function: ease-out;
}
.place_list_day{
	display: none;
}
.day_list_extend>.place_list_day{
	display: block !important;
}
.slide_on{
	z-index: 1;
	left: 0px !important;
	transition: left 0.05s;
	transition-timing-function: ease-out;
}
.plan_slider_off{
	left:-384px;
	transition: left 0.2s;
	transition-timing-function: ease-out;
}
.map_toggle{
	cursor: pointer;
	position: fixed;
	z-index: 999;
	top:24px;
	left: calc(50% - 132px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:260px;
	height:32px;
	border: solid 2px #7c4dff;
	border-radius: 4px;
}
.map_toggle_item{
	text-align: center;
	width:128px;
	height: 32px;
	color: #383838;
	background-color: #ffffff;
}
.toggle_selected{
	color: #ffffff !important;
	background-color: #7c4dff !important;
}
#map_toggle_left{
	border-radius: 4px 0 0 4px;
}
#map_toggle_right{
	border-radius: 0 4px 4px 0;
}
.map_toggle_selected{
	background-color: #ffffff;
}
.slide_toggle{
	display: flex;
	margin-top: -24px;
	width:48px;
	height:24px;
	background-color: #fafafa;
	border-radius: 4px 4px 0 0;
}
.arrow{
	transform: rotate(180deg);
	transition: transform 0.2s;
	transition-timing-function: ease-out;
}
.arrow_flip{
	transform: rotate(0deg);
	transition: transform 0.2s;
	transition-timing-function: ease-out;
}
.btt_show_list{
	transform: rotate(0deg);
	transition: transform 0.2s;
	transition-timing-function: ease-out;
}
.arrow_down{
	transform: rotate(180deg);
	transition: transform 0.2s;
	transition-timing-function: ease-out;
}

.search_bar_containner{
	width:calc(100% - 32px);
	padding:16px;
	background-color: #f0f0f0;
}
#date > p{
	margin: 0 0 4px 4px;
}

#day{
	cursor: pointer;
}
/*장소 정보*/
.place_img{
	width: 384px;
	height: 180px;
	background-image: url(../img/place_img1.jpg);
	background-size:cover;
}
.place_info{
	display: flex;
	align-items: center;
	padding: 8px;
}
.place_info>img{
	margin:0 8px;
}
.place_thumb{
	width: 96px;
	height: 80px;
	background-size:cover;
	border-radius: 2px;
}
.place_meta{
	margin-left: 8px;
}
.place_meta>h2{
	margin:4px 0;
}
.place_meta>p{
	color: #686868;
}
#plc_img1{
	background-image: url(../img/place_img1.jpg);
}
#plc_img2{
	background-image: url(../img/place_img2.jpg);
}
#plc_img3{
	background-image: url(../img/place_img3.jpg);
}
#plc_img4{
	background-image: url(../img/place_img4.jpg);
}
#plc_img5{
	background-image: url(../img/place_img5.jpg);
}
#plc_img6{
	background-image: url(../img/place_img6.jpg);
}

#plan_save{
	width:calc(100% - 64px);
	position: absolute;
	padding:16px 0;
	bottom:0;
	left:0;
	display: flex;
}
.date_item{
	background-color: #fafafa;
	padding:16px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:calc(100% / 7 - 2px);
	border: solid 1px #ffffff;
}
.day_item{
	padding:8px 0;
	text-align: center;
	width:calc(100% / 7);
}
.date_item_select{
	background-color: #7c4dff;
	color: #ffffff;
}
.date_item_blank{

}
#day1{
	cursor: pointer;
}