.flex_c_center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
.flex_centered{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.flex_item_center{
	display: flex;
	align-items: center;
}
.flex_item_start{
	display: flex;
	justify-content: flex-start;
}
.flex_item_end{
	display: flex;
	justify-content: flex-end;
}
.flex_item_space_between{
	display: flex;
	justify-content: space-between;
}

/*포지션 정렬*/
.center{
	margin-left: auto !important;
	margin-right: auto !important;
}
