body{
	margin: 0;
	padding: 0;
	width:100%;
	color: #383838;
}
li{
	list-style: none;
}
input[type=text].calculator_value{
	width: 90%;
	background-color: rgba(0,0,0,0);
	border-color: #4b4b4b;
	border-width: 0 0 1px 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	line-height: 24px;
}
hr{
	width: 100%;
	height: 1px;
	border:0;
	background: #c0c0c0;
}
a{
	color: inherit;
	text-decoration: none;
}

:after, :before{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Flex Box*/
.flex_row{
	display: flex;
	flex-wrap: wrap;
}
.flex_col{
	display: flex;
	flex-direction: column;
}


/***헤더 레이아웃***/
.header{
	/*Type*/
	display: flex;
	flex-direction: row;
	/*size*/
	width:1080px;
	height:64px;
	padding:0 calc(50% - 540px);
	/*position*/
	position: absolute;
	top:0px;
	left:0px;
	z-index: 999;
	/*feature*/
	align-items: center;
}
/*좌우측 헤더 아이템*/
.header_item{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 100%;
}
#left{
	justify-content: flex-start;
}
#right{
	justify-content: flex-end;
}
.header_white_bg{
	/*Type*/
	display: flex;
	flex-direction: row;
	/*size*/
	width:1080px;
	height:64px;
	padding:0 calc(50% - 540px);
	/*position*/
	position: absolute;
	top:0px;
	left:0px;
	z-index: 999;
	/*feature*/
	align-items: center;
	color: #383838;
	background-color: #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(64,64,64,0.8);
}


/*헤더에 포함될 텍스트 메뉴*/
.text_menu{
	/*Type*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 16px;
	height: 100%;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 32px;
}
#selected{
	height: calc(100% - 4px);
	padding-top: 4px;
	font-weight: 500 !important;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #ffffff;
}
.header_white_bg > .header_item >  #selected{
	border-width: 0;
	padding: 0;
}
/*헤더에 포함될 마이 메뉴*/
.my_menu{
	width: 140px;
	height: 48px;
	display: inline-block;
}
.my_menu>p{
}
.my_menu>img{
	width: 48px;
	height: 48px;
	float: left;
}
#my_menu_id{
	font-weight: 500;
	letter-spacing: 0.4px;
}
#my_menu_point{
	font-weight: 300;
	letter-spacing: 0.4px;
}


/*** 콘텐츠 영역 ***/
.content_area{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 1080px;
	padding:64px calc(50% - 540px) 96px calc(50% - 540px);
}
.content_area_row{
	display: flex;
	flex-wrap: wrap;
	width: 1080px;
	padding:64px calc(50% - 540px) 96px calc(50% - 540px);
}
.content_area_narrow{
	width: 880px;
	padding:64px calc(50% - 440px) 96px calc(50% - 440px);
}
.dark_bg{
	background-color: #262626;
	color: #ffffff;
}
.white_bg{
	background-color: #ffffff;
	color: #383838;
}
.img_bg{
	color: #ffffff;
}
.img_bg:bofore{
	content: "";
    display: block;
    background: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
}


/*콘텐츠 블록*/
.contents_block_2{
	display: flex;
	flex-direction: column;
	width: 50%;
}
.contents_block_1_col{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.contents_block_1_row{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.contents_block_1_row>h2{
	width: 100%;
}
.contents_block_3{
	display: flex;
	flex-direction: column;
	margin:0 8px;
	width: calc(33% - 16px);
}
.caculator_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(50% - 48px);
}


/*테이블*/
.table{
	width: 100%;
}
.table td, table th{
	text-align: center;
	height: 32px;
}
.table th{
	font-weight: 400;
	color: #ffffff;
	background-color: rgba(136,125,255,0.85);
}
.table td{
	font-weight: 300;
	color: #686868;
}
a.letter_link{
	font-weight: 500;
	color: #887DFF;
	text-decoration: none;
}

/*** 콘텐츠 슬라이더 ***/
.content_slide{
	position: absolute;
	display: flex;
	flex-direction: row;
}
.slide_navi{
	position: absolute;
	display: flex;
	z-index: 9999;
	left: 0;
	width:100%;
	height:100%;
	flex-direction: row;
	justify-content: space-between;
}
.slider_button{
	z-index: 9999;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc((100% - 1080px)/2);
	background-color: #ffffff;
}
.sd_button_comm{
	height: 220px;
}
.sd_button_city{
	height: 336px;
}
.sd_button_acc_type{
	height: 274px;
}
#slider_left{
	left:0;
}
#slider_right{
	right:0;
}


/*footer*/
footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1080px;
	padding:0 calc(50% - 540px);
	color: #383838;
	background-color: #f9f9f9;
}
.sitemap_col{
	display: flex;
	flex-direction: column;
	float: left;
	width: 242px;
	margin-top: 32px;
	color: #383838;
	font-weight: 300;
}
a.footer_item{
	width: 100%;
	margin:0 0 16px 0;
	text-decoration: none;
	font-weight: 500;
	color: #383838 !important;
}
.link{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 32px;
	width: 304px;
	height: 96px;
}
.link_item{
	width: 48px;
	height: 48px;
	margin-right: 16px;
	border-radius: 24px;
}