body{
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
	overflow-x: hidden;
}

/*공통*/
.flex_row{
	display: flex;
	flex-direction: row;
}

/*포지션 정렬*/
.center{
	margin-left: auto !important;
	margin-right: auto !important;
}

/***상단영역 레이아웃***/
/*상단 영역의 배경*/
.top_background{
	width:100%;
	min-width: 1180px;
	background-image: url(../img/00DF9A.png);
	background-size: cover;
}
/*상단 헤더 및 서치박스가 포함된 영역*/
.top{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1180px;
	padding:0 calc(50% - 590px);
	/*Gradient*/
	background-image: -webkit-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(18,09,86,0.2) 120%);
	background-image: -moz-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(18,09,86,0.2) 120%);
	background-image: -o-radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(18,09,86,0.2) 120%);
	background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(18,09,86,0.2) 120%);
}



/***헤더 레이아웃***/
.header{
	/*Type*/
	display: flex;
	flex-direction: row;
	/*size*/
	width:1180px;
	height:64px;
	padding:0 calc(50% - 590px);
	/*position*/
	position: absolute;
	top:0px;
	left:0px;
	z-index: 999;
	/*feature*/
	align-items: center;
}
/*좌우측 헤더 아이템*/
.header_item{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 100%;
}
#left{
	justify-content: flex-start;
}
#right{
	justify-content: flex-end;
}

/*헤더에 포함될 텍스트 메뉴*/
.text_menu{
	/*Type*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 16px;
	height: 100%;
	font-family: 'Noto Sans CJK KR';
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 32px;
}
#selected{
	height: calc(100% - 4px);
	padding-top: 4px;
	font-weight: 500 !important;
	border-width: 0 0 4px 0;
	border-style: solid;
	border-color: #ffffff;
}

/*** USP메세지 롤링 ***/
.slide_containner{
	position: absolute;
	top:0;
	left:0;
	display: flex;
	width:300%;
	height: 380px;
	/*animation-name:slider_move;
	animation-duration:6.5s;
	animation-delay:1.5s;*/
}
.slide{
	display: flex;
	flex-direction: column;
	width: 33.3%;
	min-width: 1180px;
	align-content: center;
}

/*** 콘텐츠 영역 ***/
.content_area{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1180px;
	padding:64px calc(50% - 590px);
}
.dark_bg{
	background-color: #00606f;
	color: #ffffff;
}
.white_bg{
	background-color: #ffffff;
	color: #262626;
}
/*콘텐츠 블록*/
.contents_block_3{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(1180px/3 - 8px);
	height: calc((1180px/3 - 8px)*3/4);
	margin: 32px 0;
}
.img_box{
	width: 100%;
	height: 168px;
	margin: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contents_block_4{
	display: flex;
	flex-direction: column;
	width: calc(1180px/4 - 8px);
	height: calc(1180px/4 - 8px);
	margin: 32px 0;
	background-color: #eeeeee;
}

/*footer*/
footer{
	display: flex;
	justify-content: space-between;
	width: 1180px;
	height: 383px;
	padding:0 calc(50% - 590px);
	color: #ffffff;
	background-color: #00606f;
}
.sitemap_col{
	display: flex;
	flex-direction: column;
	float: left;
	width: 242px;
	margin-top: 32px;
	color: #ffffff;
	font-weight: 300;
}
a.footer_item{
	width: 100%;
	margin:0 0 32px 0;
	text-decoration: none;
	color: #ffffff;
}
.link{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 32px;
	width: 304px;
	height: 96px;
}
.link_item{
	width: 48px;
	height: 48px;
	margin-right: 16px;
	background-color: #eeeeee;
	border-radius: 24px;
}