body{
	background-color: ffffff;
	margin: 0;
	padding: 0;
}


/*background slide*/
.background_slide{
	display: flex;
	flex-direction: column;
	width:450px;
	margin: 100px auto 0 auto;
	justify-content: center;
	align-items: center;
	/*background-image: url(../img/background/1.jpg);
	background-size: cover;
	background-position: center;*/
}
@media screen and (max-width: 450px){
	.background_slide{
		width:220px;
		margin: 58px auto 0 auto;
	}

}


/* Title Box */
.div_title_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 450px;
	height: 450px;
}
.logo_img{
	position: absolute;
	width: 344px;
	height: 265px;
}

@media screen and (max-width: 450px){
	.div_title_box{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 220px;
		height: 220px;
	}
	.logo_img{
		width: 169px;
		height: 130px;
	}
}



/*Logo*/
.logo_text{
	display: flex;
	justify-content: center;
	align-items: center;
	height:124px;
	font-family: 'Oswald', sans-serif;
	font-size: 83px;
	font-weight: 500;
	letter-spacing: -1.4px;
	text-align: center;
	background-color:#ffffff;
    color:  #1e1a1b;
	
}

@media screen and (max-width: 450px){
	.logo_text{
		height: 61px;
		font-size: 41px;
		font-weight: 500;
		letter-spacing: -0.7px;
	}
}


/*slogan*/
.slogan{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 49px;
	margin: 45px auto 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 100;
	letter-spacing: -1.2px;
	text-align: center;
	color: #201c1d;
}
@media screen and (max-width: 450px){
	.slogan{
	     height: 24px;
	     font-size: 20px;
	     font-weight: 200;
         letter-spacing: -0.4px;
	}
}



/* Footer */
footer{
	  display: flex;
	  position: fixed;
	  justify-content: center;
	  align-items: center; 
	  width: 100%;
	  height:85px;
	  left:0;
	  bottom:0;
	  background-color: #000000;
	  font-family: 'Montserrat', sans-serif;
	  font-size: 15px;
	  font-weight: 100;
	  line-height: 19px;
	  text-align: center;
	  color: #ffffff;
}
@media screen and (max-width: 360px){
	footer{
		font-size: 10px;
		line-height: 13px;
	}
}